
<div class="row">
 <div class="col-12">
    <div id="movies" class="shadow p-4 rounded">
        <div class="row">
 <h2 class="fw-bold">Film</h2>
 <hr />
 <!-- NEW! -->
    <div class="movie-container">
        @for(movie of movieList(); track $index){
            <app-movie-item [movie]="movie" (deleteMovieEvent)="onDeleteMovie(movie.id)"></app-movie-item>
                }@empty {
                    <p>No movies found</p>
            }
            </div>
                <!-- -->
        </div>
    </div>
</div>
