.movie-container {
 display: grid;
 grid-auto-rows: 1fr;
 grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
 grid-gap: 1rem;
 outline: 1px solid #ccc;
}
@media screen and (min-width: 992px) {
 .movie-container {
    display: flex;
 gap: 1.5rem;
 }
}