<div
    class="modal fade"
    id="addMovieModal"
    tabindex="-1"
    aria-labelledby="addMovieModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="addMovieModal">
            Add a new Movie
            </h1>
            <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            ></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="title">Title:</label>
                    <input
                    type="text"
                    id="title"
                    class="form-control"
                    formControlName="title"
                    />
                    </div>
                        <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea
                        id="description"
                        class="form-control"
                        formControlName="description"
                        ></textarea>
                        </div>
                    <div class="form-group">
                    <label for="channels">Streaming Channels:</label>
                    <select
                    id="channel"
                    class="form-control"
                    formControlName="streaming_channel">
                    <option selected>---</option>
                    @for (channel of channelList(); track $index) {
                    <option value={{channel.id}}>{{channel.name}}</option>
                    }
                    </select>
                    </div>
                <div class="d-flex gap-2 justify-content-end mt-4">
                        <button type="submit" class="btn btn-success">
                        Create
                        </button>

                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                        Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
